*{
  margin:0;
  padding: 0;
}

header{
  box-shadow: 0 10px 15px -3px #ddd,
  0 4px 6px -2px #ddd;
  color: #000;
}


.nav-area{
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
}
.logo{
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  /* margin-right: 50px; */
  width:60px;
  height:60px;
  border:2px solid #fff;
}
.logout{
  text-decoration: none;
  font-size: 25px;
  color: inherit;  
  width:60px;
  height:60px;
  border:2px solid #fff;
  margin-left: 3rem;
}




.main-nav .menus{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.main-nav .menu-items{
  position: relative;
  font-size: 16px;
}
.main-nav .menu-items a{
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  padding: 0.7rem 1rem;
}
.main-nav .menu-items button{
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}
/* .main-nav .dropdown{
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 12rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
  z-index: 10;
} */

@media (max-width: 993px) {
  .main-nav .dropdown {
    left: 10px;
    right: auto;
  }
}

.main-nav .dropdown{
  padding: 0px;
}

.main-nav .dropdown.show{
  display: block;
}
.main-nav .dropdown .dropdown-submenu{
  position: absolute;
  left: 100%;
  top:-7px;
}
.main-nav .arrow::after{
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.main-nav button span{
  margin-left: 5px;
}

