<div class="container-fluid">
    <div class="row p-2 bg-info">
        <div class="col-6">
            <h3>User List</h3>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-warning" (click)="openModal()"> Add User</button>
        </div>
    </div>
    @if (userList && userList.length > 0) { <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Age</th>
                <th>Address</th>
                <th>Has Payment</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (item of userList; track $index) {
            <tr>
                <td>{{ item.userName| uppercase }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.mobileNo }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.hasPayment }}</td>
                <td class="text-center">
                    <button class="btn btn-primary" (click)="OnEdit(item)"> Edit</button> ||
                    <button class="btn btn-danger " (click)="onDelete(item)"> Delete</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
    }@else {
    <h5 class="text-center p-5">User Not Found</h5>
    }


</div>

<div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-info">
                @if(userForm.value.id != 0)
                {
                <h4 class="modal-title">Update User</h4>
                }@else {
                <h4 class="modal-title">Add User</h4>
                }

                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
            </div>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" formControlName="userName" name="userName" class="form-control"
                                placeholder="Name">
                        </div>
                        <div class="col-6">
                            <input type="password" formControlName="userPass" name="userPass" class="form-control"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <input type="text" formControlName="email" name="email" class="form-control"
                                placeholder="Email">
                        </div>
                        <div class="col-6">
                            <input type="number" formControlName="mobileNo" name="mobileNo" class="form-control"
                                placeholder="Mobile">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6">
                            <input type="number" formControlName="age" name="age" class="form-control"
                                placeholder="Age">
                        </div>
                        <div class="col-6">
                            <input type="text" formControlName="address" name="address" class="form-control"
                                placeholder="Address">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <div class="form-group form-check">
                                <input type="checkbox" formControlName="hasPayment" name="hasPayment"
                                    class="form-check-input">
                                <label> Has Payment? </label>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    @if (userForm.value.id == 0) {
                    <button type="submit" [disabled]="this.userForm.invalid" class="btn btn-primary"
                        data-bs-dismiss="modal">Save</button>
                    }@else {
                    <button type="submit" [disabled]="this.userForm.invalid" class="btn btn-success"
                        data-bs-dismiss="modal">Update</button>
                    }

                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                        (click)="closeModal()">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>